<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="http://www.jsexpert.net/" class="nav-link" target="blank">
        <clr-icon shape="link"></clr-icon>
        <span class="title">JSExpert</span>
      </a>
    </div>
  </header>

  <div class="content-container">
      <div class="content-area">

        <!-- main-content -->

        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="card-block">
                        <div class="card-text">
                            <h3 class="p1" [ngClass]="{redText:isPressed}">Цвет изменен</h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button
                        class="btn btn-primary"
                        (click)="changeColor()"
                      >Изменить цвет</button>
                    </div>
                </div>
            </div>
        </div>

        <!--  -->
        
      </div>
  </div>
</div>