<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="http://www.jsexpert.net/" class="nav-link" target="blank">
        <clr-icon shape="link"></clr-icon>
        <span class="title">JSExpert</span>
      </a>
    </div>
  </header>

  <div class="content-container">
      <div class="content-area">

        <!-- main-content -->

        <div class="row">
          <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
              <div class="card-footer">
                <button
                  class="btn btn-sm btn-info-outline"
                  (click)="showFirstPick()"
                >показать первую картинку</button>
                <button
                  class="btn btn-sm btn-info-outline"
                  (click)="showSecondPick()"
                >показать вторую картину</button>
                <button
                  class="btn btn-sm btn-info-outline"
                  (click)="showAllPick()"
                >показать все картинки</button>
              </div>
              <div
                class="card-img"
                [class.hide]="!firstPickShow"
              >
                <img src="https://cdn.pixabay.com/photo/2018/03/02/21/49/water-3194377_960_720.jpg">
              </div>
              <div
                class="card-img"
                [class.hide]="!secondPickShow"
              >
                <img src="https://cdn.pixabay.com/photo/2011/12/14/12/17/galaxy-11098_960_720.jpg">
              </div>

            </div>
          </div>
        </div>

        <!--  -->
        
      </div>
  </div>
</div>
